RipJKForwader/hacbrewpack_backup/
RipJKForwader/hacbrewpack_temp/
hacbrewpack_backup/
hacbrewpack_temp/
RipJKNSP/
build/
Build/
*.nso
*.elf
.vscode/
.vs/
bin/
obj/
target/
.settings/
.classpath
.project
*.cmd
*.pfs0
*.nacp
source/Debug.h
titles/8000000000001071/Autofill.dat
e.html
log.log
titles/8000000000001071/Cookie.dat
titles/8000000000001071/dataco.txt
titles/8000000000001071/VisitedLink.dat
titles/8000000000001071/WebStorage.dat
