RipJKForwader/hacbrewpack_backup/
RipJKForwader/hacbrewpack_temp/
hacbrewpack_backup/
hacbrewpack_temp/
RipJKNSP/
build/
Build/
Output/
*.nso
*.elf
.vscode/
.vs/
bin/
obj/
target/
.settings/
.classpath
.project
*.cmd
*.pfs0
*.nacp
